@import './global-variables.scss';

.app {
  text-align: center;
  font-family: 'Gotham';
}

.app-medium {
  text-align: center;
  font-family: 'Gotham-Medium';
}

@font-face {
  font-family: 'Gotham';
  src: url('../../assets/gotham_black_regular.ttf')
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../../assets/gotham_medium.ttf')
}

a{
  text-decoration: inherit;
  color: black;
  transition: color .2s ease-in-out;
}

a:hover{
  color: red;
}

.o-page-align {
  max-width: $maxSiteWidth;
  margin: 0 auto;
  padding: 0 ($grid-base-unit * 2);
  position: relative;
  @media (min-width: $bp-to-wide) {
      padding: 0;
  }
}

.o-page-spacer {
  margin-top: ($grid-base-unit * 4);

  @media (min-width: $bp-to-wide) {
      margin-top: ($grid-base-unit * 8);
  }
}