@import "./global-variables.scss";

.app {
  font-family: "Gotham";
  &__medium {
    font-family: "Gotham-Medium";
  }
}

button {
  margin-top: $foundation-unit;
  padding-top: 10px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

button:hover {
  -moz-transform: scale(1.05) rotate(0deg);
  -webkit-transform: scale(1.05) rotate(0deg);
  -o-transform: scale(1.05) rotate(0deg);
  -ms-transform: scale(1.05) rotate(0deg);
  transform: scale(1.05) rotate(0deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

.app-medium {
  font-family: "Gotham-Medium";
}

@font-face {
  font-family: "Gotham";
  src: url("../../assets/gotham_black_regular.ttf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../../assets/gotham_medium.ttf");
}

a {
  text-decoration: inherit;
  color: black;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: red;
}

.o-page-align {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.o-page-spacer {
  margin-top: ($foundation-unit * 4);

  @media (min-width: $bp-to-wide) {
    margin-top: ($foundation-unit * 8);
  }
}
