@import './global-variables.scss';

.app {
  font-family: 'Gotham';
  &__medium {
    font-family: 'Gotham-Medium';
  }
}

.app-medium {
  font-family: 'Gotham-Medium';
}

@font-face {
  font-family: 'Gotham';
  src: url('../../assets/gotham_black_regular.ttf')
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../../assets/gotham_medium.ttf')
}

a{
  text-decoration: inherit;
  color: black;
  transition: color .2s ease-in-out;
}

a:hover{
  color: red;
}

.o-page-align {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.o-page-spacer {
  margin-top: ($foundation-unit * 4);

  @media (min-width: $bp-to-wide) {
      margin-top: ($foundation-unit * 8);
  }
}