.content__card{
    text-align: center;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;

    img{
        width: 200px;
        height: 300px;
    }

    &__information {
        &__mobile{
            h3{
                font-size: 10px;
                letter-spacing: 6px;
            }
        }
    }
}