@import './global-variables.scss';

.footer__parent {
    max-width: 100%;
    display: block;
    padding: $grid-base-unit 0 ($grid-base-unit / 2) 0;
}

$maxSiteWidth: 1224px;


.footer__spacer {
    margin-top: 100px;
    padding-top: 100px;
}

.footer__lists {
  padding: 40px 0;
  overflow: hidden;
  margin: auto;
  max-width: 1224px;
}

.footer__nav {
  margin: 0 0 ($grid-base-unit / 2) 0;
  padding-bottom: ($grid-base-unit / 2);
    background-color: #f3f3f4;
    display:inline-block;
    width:100%;
    ul, li {
      // Header reset styles
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    &:after{
      content: "";
      display: table;
      clear: both;
    }
    span{
      margin: 0 auto;
      overflow: hidden;
      white-space: nowrap;
    }
  }