@import './global-variables.scss';

.footer-parent {
    padding: 2*($grid-base-unit);
    display: flex;
    justify-content: space-evenly;
}

.child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    
    &__mobile {
      padding: 3*($grid-base-unit);
      font-size: calc(5px + 1vmin);
      white-space: nowrap;
      display: flex;
      justify-content: center;
    }
}


.footer__nav {
    background-color: #f3f3f4;
    ul, li {
      // Header reset styles
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    a {
      // Header reset styles
      text-decoration: none;
    }
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }