@function pxtoem($value) {
    @return ($value/16) * 1em;
}

$foundation-unit: 8px;
$foundation-max-site-width: pxtoem(1920);
$foundation-max-content-width: 110em;
$bp-to-wide: 50em;
$extra-wide: pxtoem(1280);
$bp-narrow: pxtoem(0);
$bp-medium: pxtoem(768);
$bp-wide: pxtoem(1024);
$extra-wide: pxtoem(1280);