@import './global-variables.scss';

.header__parent{
    background-color: #f3f3f4;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;

    ul {
        padding-left: 0px;
    }
}

.header__row {
    padding: $grid-base-unit 0 ($grid-base-unit / 2) 0;
    padding: 0 0;
    display: flex;
    justify-content: space-around;

    &__mobile {
        justify-content: center;
    }
}

.header__item{
    width: 250px;
    display: flex;
    
    &__navigation {
        padding-top: 1.5%;
        justify-content: space-around;
    }

    &__socials {
        padding-top: 1.5%;
        justify-content: space-evenly; 
    }

    &__name {
        justify-content: center; 

        span {
            font-size: 30px;
        }

        &__mobile {
            text-align: end;
            padding: 3.5%;
            margin: 3%;
            font-size: 25px;
        }
    }

    &__hamburger__nav{
        margin: 3%;
    }
    
}