@import './global-variables.scss';

.navigation{
    width:100%;
}

.navigation__text__wrapper {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 20px;
  text-decoration: none;
}

.navigation__item {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}