@import '../scss/global_variables.scss';

.footer-parent {
    padding-top: 4*($grid-base-unit);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 80%;
}

  .child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    
    &__mobile {
      padding-top: 38*($grid-base-unit);
      font-size: calc(5px + 1vmin);
      white-space: nowrap;
    }
  }