@import '../scss/global_variables.scss';

.header_parent{
    background-color: #f0f0f5;
    width: 100%;
    max-width: 100%;
    height: 100px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-around; 
    top: 0;
    z-index: 0;
    margin-bottom: 10%
}

.header_row {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $grid-base-unit $grid-base-unit/2;
  position: relative;
  height: 33px;

  @media (min-width: 12em) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $grid-base-unit $grid-base-unit * 1.5;
  }
}

.child-container {
    width: 20%;
    padding-top: 1.75%;
    justify-content: baseline;
}

.mobile-header {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-start;
    width: 100%;
}

.mobile-header__nav_container{
    padding-right: 27.5%;
    padding-top: 2%;
}

.logo-container {
    padding-top: 1.5%;
    align-content: center;
}

.logo-child-desktop{
    font-size: calc(10px + 3vmin);
    width: 100%;
    align-items: center;
}

.logo-child-mobile{
    padding-top: 15%;
    font-size: calc(10px + 3vmin);
    white-space: nowrap;
}