.header_parent{
    background-color: #f8f8f8;
    max-width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around; 
}

.child-container {
    width: 20%;
    padding-top: 1.5%;
    justify-content: baseline;
}