@import './global_variables.scss';

.app {
  text-align: center;
  font-family: 'Gotham';
}

.app-medium {
  text-align: center;
  font-family: 'Gotham-Medium';
}

.o-page-align {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (min-width: 80em) {
  .o-page-align {
      padding:0
  }
}

.o-page-spacer {
  margin-top: 32px
}

@media (min-width: 48em) {
  .o-page-spacer {
      margin-top:64px
  }
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/gotham_black_regular.ttf')
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../assets/gotham_medium.ttf')
}

a{
  padding-left: 5%;
  float: left;
  color: inherit;
  text-decoration: inherit;
  color: black;
  transition: color .2s ease-in-out;
}

a:hover{
  color: red;
}