@import './global_variables.scss';

.app {
  text-align: center;
  font-family: 'Gotham';
}

.app-medium {
  text-align: center;
  font-family: 'Gotham-Medium';
}

.o-page-align {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (min-width: 80em) {
  .o-page-align {
      padding:0
  }
}

.o-page-spacer {
  margin-top: 32px
}

@media (min-width: 48em) {
  .o-page-spacer {
      margin-top:64px
  }
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/gotham_black_regular.ttf')
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../assets/gotham_medium.ttf')
}

a{
  padding-left: 5%;
  float: left;
  color: inherit;
  text-decoration: inherit;
  color: black;
  transition: color .2s ease-in-out;
}

a:hover{
  color: red;
}


.iamoli-foundation-header {
  background-color: at-colour(blue);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: at-colour(white);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: at-layers(primaryNav);

  &.iamoli-foundation-header--fixed {
    position: fixed;
  }
}

.iamoli-header-row {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $grid-base-unit $grid-base-unit/2;
  position: relative;

  @media (min-width: 12em) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $grid-base-unit $grid-base-unit * 1.5;
  }

  @media (min-width: $bp-to-wide) {
    padding: $grid-base-unit * 4 $grid-base-unit $grid-base-unit 0;
  }

  @media (min-width: 80.5em) {
    padding: $grid-base-unit * 4 0 $grid-base-unit;
  }
}

.iamoli-header-item {
  flex: auto 0 0;

  @media (min-width: $bp-to-wide) {
    flex: auto 1 0;
  }

  &__logo {
    &-url {
      display: inline-block;
      position: relative;

      &:focus {
        outline: 0;

        svg {
          outline: 2px solid at-colour(aqua);
          outline-offset: 2px;
        }
      }
    }

    @media (max-width: 42.5em) {
      text-align: center;
    }

    @media (max-width: 21.99em) {
      flex-basis: 100%;
      order: 1;
      padding: 0;
      height: 37px;
    }

    @media (min-width: 22em) and (max-width: ($bp-to-wide - 0.01em)) {
      order: 2;
      flex: 1;
    }

    @media (max-width: $bp-to-wide) {
      text-align: center;
    }

    @media (min-width: $bp-to-wide) and (max-width: 80.5em) {
      padding-left: $grid-base-unit * 2;
      text-align: left;
    }

    @media (min-width: $bp-to-wide) {
      flex-basis: 100%;
      margin: $grid-base-unit 0;
    }

    @media (min-width: $bp-to-wide) and (max-width: 55.99em) {
      margin: $grid-base-unit * 1.5 0;
    }

    @media (min-width: 78em) {
      flex: 170px 0 0;
    }
  }
}

.iamoli-header-nav {
  display: flex;
  justify-content: flex-end;
  min-width: 56px;
  order: 3;

  @media (min-width: $bp-to-wide) and (max-width: 68em) {
    position: absolute;
    right: $grid-base-unit * 2;
    top: ($grid-base-unit * 4) + 2;
  }

  @media (min-width: 58em) {
    padding-bottom: 4px;
  }

  &__item {
    background-color: transparent;
    border: 0;
    fill: at-colour(white);
  }
}

.x {
  text-align: left;
  padding: 0;

  @media (min-width: $bp-to-wide) and (max-width: 78em) {
    padding: $grid-base-unit 0;
  }

  @media (min-width: $bp-to-wide) and (max-width: 77.9375em) {
    padding-left: $grid-base-unit * 1.5;
  }
}